# === Set zsh theme
# Note: oh-my-zsh already uses a variable called ZSH_THEME. We use ZSH_THEME_MY which
# may affect the final value set for ZSH_THEME by the zsh theme setup in these
# dotfiles.
# Options:
# - p10k
# - starship
ZSH_THEME_MY="p10k"

# === 
ENABLE_P10K_INSTANT_PROMPT=false

# === Yabai window manager for macos
# Enable Yabai along with my custom yabai configs
ENABLE_YABAI_DQNA64=false # true or false

# === Verbosity for my dotfiles stdout
# Options:
# - 0: almost nothing
# - 1: important messages
# - 2: informative messages
VERBOSITY_DQNA64=1
